<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cubicle</title>
    <link href="/css/site.css" type="text/css" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />
</head>

<body>
    <div class="container"></div>
    {{> header }}
    {{#if error }}
        <div id="notifications">
            {{#each errorMessage}}
                <p id="notifications-message">{{ message }}</p>
            {{/each}}
        </div>
    {{/if}}
    <main>
        {{{ body }}}
    </main>
    </div>
    {{> footer }}
</body>

</html>