body {
   width: 80%; 
   margin: auto;
}

header {
    display: flex;
    border-bottom: 2px solid rgb(0, 0, 0);
    justify-content: space-between;
}

ul {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    list-style:none
}

a {
    color: rgb(0, 153, 0);
    text-decoration: none;
}